<section>
    <h3>Content Area</h3>
    <p>Welcome to Angular!This tutorial introduces you to the essentials of Angular. It leverages what you already know about HTML and JavaScript—plus some useful Angular features—to build a simple online store application, with a catalog, shopping cart, and check-out form. You don't need to install anything: you'll build the app using the StackBlitz online development environment.</p>
    <p>To copy a code example from this tutorial, click the icon at the top right of the code example box, and then paste the code snippet from the clipboard into StackBlitz.
    If the StackBlitz preview pane isn't showing what you expect, save and then click the refresh button.
    StackBlitz is continually improving, so there may be slight differences in generated code, but the app's behavior will be the same.</p>
</section>
